<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerlinks}}
</head>

<body>
   {{>navbar}}


    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                         <img src="images/weather-app-abstract-concept-vector-illustration-man-checking-forecast-with-special-software-smartphone-screen-modern-it-technology-weather-application-development-abstract-metaphor_107173-45880.jpg" alt="weather" class="img-fluid" title="about us">
                        </figure>
                     </div>
                    
                    <div class="col-md-6 col-12 main_header_left">
                        <p>I am a</p>
                        <h1> <span class="text_clr"> Mern Stack Developer </span> </h1>
                        <a href="https://github.com/arth904?tab=repositories"><button>About Me</button></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>

</html>